
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Navbar Section Style Starts */
.logo{
    width: 150px;
    height: 110px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}
.nav-item ul{
    display: flex;
}
.nav-item ul li{
    list-style: none;
    padding: 0 30px;
}
.nav-item ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}
.nav-item ul li a:hover{
    background-color: #CF1717;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
/* Navbar Section Style Starts */
.front-sec{
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30vh;
    padding: 0% 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.text-title{
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    border-bottom: 2px solid #CF1717;
}

table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

tr{
    width: 100%;
}
.cart-btn-checkout{
    text-decoration: none;
    background-color: #093a3a;
    display: block;
    padding: 10px 11px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin: 13px 0px;
    font-size: 32px;
}
.cart-btn-checkout:hover{
    background-color: #0c5252;
}
/* Footer Section Starts */

footer{
    text-align: center;
    background-color: #CF1717;
    color: #fff;
    padding: 20px 0;
}
/* Footer Section Ends */